<style>
body {background-color: rgb(213,79,140);}	
	body {text-align: center;}
	a {text-align: center;}
	h1 {color:rgb(241,95,91);} 
	h1 {font-family: arial;}
	p {font-family: arial}
	
	#Meet-Allie 
	{background:rgb(213,79,140);}
	#Meet-Allie
	{width:80%;}
	#Meet-Allie
	{margin:40px;}
	#Meet-Allie
	{border:5px solid rgb(241,95,91);}
	#Meet-Allie
	{padding:10px;}
	#container
	{width:400px;}
	#container
	{margin:auto;}


</style>



}